.header-navbar {

@include md {
  display: flex;
  justify-content: flex-end;
}
  
    &__btn {
        width: 30px;
        height: 22.5px;
        position: relative;
        margin: $gap 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        @media (min-width: $md) {
                display: none;
        }

        &-row {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $color-light
            ;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
              }
              
            &:nth-child(2),
            &:nth-child(3) {
                top: 9px;
              }
              
            &:nth-child(4) {
                top: 18px;
              }
          }
          
            
          
          &--active div:nth-child(1) {
            top: 9px;
            width: 0%;
            left: 50%;
          }
          
          &--active div:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          
          &--active div:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          
          &--active div:nth-child(4) {
            top: 9px;
            width: 0%;
            left: 50%;
          }     
         
      }
       
    &__list {
        list-style: none;
        margin: 0 -20px 0 0;
        padding: 0;
        @media (min-width: $md) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(50px, max-content ));
                justify-content: end;
            
        }
        @media (max-width: 767.8px) {
                display: none;
            
        }

        &.header-navbar__list--active {
          @include md {
          display: block;
          position: absolute;
          top: 100%;
          right: $gap * 2;
          background-color: rgba($color-gray-dark, $alpha: 0.9);
          text-align: right;
        }
        }
    }   
      
    &__link {
        display: block;
        padding: 20px;
        font-size: $font-size;
        font-size: 1.125rem;
        transition: color 0.5s;

        &:hover{
            color: $color-accent;
        }
    }
    
  
}




  

  